html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

a {
  text-decoration: none;
}

.btn {
  display: inline;
  color: #fff;
  background-color: #333;
  padding: .4em .75em .3em;
  border: 3px #333 solid;
  border-radius: 8px;
  font-size: 1.125rem;
}

.btn-subtle {
  color: #fff;
  border-color: #ccc;
  background-color: #ccc;
}

.btn-ghost {
  background-color: #fff;
  border-color: #666;
  color: #fff;
}

.btn-warning {
  color: #fff;
  background-color: #f33;
  border-color: #f33;
}

.btn:hover {
  color: #fff;
  background-color: #333;
  border: #333 solid;
}

.btn-subtle:hover {
  color: #fff;
  background-color: #666;
  border: #666 solid;
}

.btn-ghost:hover {
  color: #fff;
  background-color: #666;
  border: #666
}

.btn-warning:hover {
  background-color: #f33;
  border: #f33;
  color: #fff;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}
